* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar12 {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 5;
  flex-wrap: nowrap;
}

.head-display12 {
  width: 100%;
  height: auto;
  background-color: rgb(53, 53, 57);
  text-align: center;
  display:block;
  position: sticky;
  top: 0;
  padding-left: 20pt;
}

.medialogo {
  display: inline-flex;
  height: 1cm;
  width: 1cm;
  margin-inline: .4cm;
  background-color: rgba(41, 41, 44, 0.927);
  border-radius: 10%;
  margin-top: .5cm;
  margin-bottom: .5cm;
  align-self: center;
  aspect-ratio: normal;
  cursor: pointer;
  transition: all 0.3s ease;

}
.medialogo:hover{
transform: scale(1.1);
}
.li {
  display: inline-flex;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 5pt;
  border: 1pt solid rgb(114, 109, 109);
  width: 3cm;
  justify-content: center;
  font-weight: 400;
  cursor: pointer;

}

.li:hover {
  color: rgb(114, 109, 109);
}

.ul12 {
  display:inline-flex;
  width: fit-content;
  justify-content: right;
  margin-top: 10pt;
}

.tags12 {
  display: inline;
  font-size: 13pt;
  margin-inline: .5cm;
  align-items: center;
}

.nav12 {
  display: none;
  width:0cm;
  align-items: center;
  visibility:hidden;
}

.texbox12 {
  display: inline-flex;
  height: 15pt;
  width: 0cm;
  position: absolute;
  left: 75%;
}

.btn {
  display: inline-flex;
  background-image: url("../img/search_logo.png");
  height: 1cm;
  width: 1cm;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 93%;
  padding: 5px;
  border-radius: 10px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width:100%;
    border-right-color:transparent;    
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-right-color: transparent;
  }

  50% {
    border-right-color: rgb(244, 244, 244);
  }
}

.nametext {
  display: flex;
  background-image: url("../img/background_img.png");
  height: 5cm;
  width: calc(100% - 8pt);
  align-items: center;
  justify-content: center;
  margin: 4pt;
  border-radius: 10pt;
  background-repeat: no-repeat;
  background-size: cover;
}

.namee {
    overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(128, 0, 255);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .07em;
  /* Adjust as needed */
  animation:
    typing 2s steps(34,end) forwards,
    blink-caret .7s step-end infinite;
  color: white;
  font-size: 30pt; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Small offset, slight blur, semi-transparent black */
  font-weight: bold;
  max-width: fit-content;
  width: 0;
}

.body12 {
  background: rgb(240, 240, 240);
}

.shortabout {
  height: 10cm;
  width: calc(100%-8pt);
  background-color: rgb(25,2,70);
  margin: 4pt;
  border-radius: 10pt;

}

.photoabout {
  display: inline-block;
  margin: 4pt;
  margin-right: 0pt;
  width: 35%;
  height: calc(10cm - 8pt);
  background-image: url('../img/vinayaklogo.png');
  border-radius: 10pt;
  background-size: 95%;
  background-color: rgb(183, 179, 194);
  background-repeat: no-repeat;
  background-position: center;

}

.textabout {
  position: absolute;
  display: inline-block;
  margin: 4pt;
  height: calc(10cm - 8pt);
  width: calc(65% - 22pt);
  background: rgb(100, 92, 116);
  border-radius: 10pt;
}

.projectsname {
  text-align: center;
  color: aliceblue;
  font-size: 30pt;
  overflow: hidden;
  display: flex;
}

.text1 {
  font-size: 22px;
  color: white;
  padding: 3%;
  line-height: 30pt;
}

#myVideo {
  position: relative;
  height: max-content;
  width: 100%;
  z-index: 0;
}
.Featured_text{
  text-align:center;
  width: 74%;
  color: black;
}
.featured_allheader{
  color: aliceblue;background-color: rgba(20, 20, 21, 0.553) ;
}
.featured_alllower{
  color: aliceblue;background-color: rgba(20, 20, 21, 0.553) ;
}
.all-project-tags{
  color: rgb(0, 0, 0);
  font-family: Alumni Sans Inline One;
  font-size: 20pt;
  text-align: center;
  text-decoration: underline 1pt;
  border: 1pt solid black;
}
.card-img-top {
  height: 157px;
  margin: 3pt;
  padding-right: 7pt;
  object-fit:contain;
}
.anchor-display12 {
  text-align: left;
  width: min-content;
  display: inline;
  align-self: flex-start;
  

}
.shadow-sm{
  min-height:300pt;
  height: auto;
}
.card-text{
  color:rgb(47, 45, 59);
  font-size:19px;
  height: max-content;
  font-weight: 600;
  margin: .2rem;
  
}
.container{
  font-weight: 600;
}
